@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Orbitron);

/*    Reset CSS  */
* { margin:0;  padding:0;}
ol,ul { list-style: none; }
body {position:fixed;
	width:100%;
	height:100%;
	background:#111;
	font-family:Orbitron; }
a { outline:0;
	text-decoration:none;
	color:#bbb;}
img {border:0;}

.wrap {
	position:fixed;
	width:100%;
	height:100%;
	min-width:1024px;
	min-height:768px;
	perspective:900px;}

/* 메뉴 호출 버튼 */
.btnMenu {
	position:fixed;
	top:50px;
	left:40px;
	display:inline-block;
	width:20px;
	height:70px;
	text-align:center;
	font-size:30px;
	color:#fff;
	z-index:3;
	animation:ani 0.7s infinite  alternate;}
@keyframes ani {
	0% {
		transform:scale(1);
		opacity:1;
		color:#fff;}
	100% {
		transform:scale(1.5);
		opacity:0.8;
		color:#888;}
}

/*상단 메뉴바 이미지나 색*/
h1 {
	background-color: #777;
	font-size: 40px;
	height: 90px;
}
/*로고*/
h1 img {
	margin-left: 0px;
	width: 136px;
	height: 50px;
}

/*Community*/
#Comm {
	position:absolute;
	top:10px;
	right:57px;}
#Comm:after {
	content: "";
	display: block;
	clear: both;
}
#Comm li {
	float: left;
	width: auto;
}
#Comm a {
  display:block;
  padding:8px 30px;
  font-size:13px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  line-height:1.8;
  transition:all .5s;}
#Comm a i {
	font-size: 25px;
	margin-right:13px;
	color: #fff;
}

/*user정보*/
#GameMenu {
	position:absolute;
	top:50px;
	right:57px;}
#GameMenu:after {
	content: "";
	display: block;
	clear: both;
}
#GameMenu li {
	float: left;
	width: auto;
}
#GameMenu a {
  display:block;
  padding:8px 30px;
  font-size:13px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  line-height:1.8;
  transition:all .5s;}
#GameMenu a i {
	font-size: 25px;
	margin-right:13px;
	color: #fff;
}

/* 게임메뉴 전체 묶음 */
nav {
	position:fixed;
	width:150px;
	height:100%;
	background:#eee;
	z-index:2;
	transform:rotateY(120deg);
	transform-origin:left center;
	opacity:0;
	z-index:2;
	transition:all 0.8s;}
nav.on {
	transform:rotateY(15deg);
	opacity:1;}

/* 게임 메뉴 */
nav ul {
	position:absolute;
	top:20%;
	left:0px;
	width:100%;}
nav li a {
	display:block;
	width:100%;
	box-sizing:border-box;
	font-size:18px;
	line-height:4;
	color:#000;
	text-align:center;
	transition:all 0.5s;}
nav li a:hover {
	color:#fff;
	background:#000;}

/* 로고 */
/*nav h1 { width:100px; position:absolute; top:80px; left:50%; margin-left:-50px;}
nav h1 img { width:100%; height:auto; }*/

/* 게임 나오는 화면 */
section {
	position:fixed;
	width:100%;
	height:100%;
	background:#555;
	z-index:1;
	transform-origin:right center;
	transition: all 0.5s; }
section.on { transform:rotateY(-10deg);}

/* 컨텐츠 폰트 설정 */
section>div.on>p { transform:rotateY(0deg);}
section>div>p>span {
	display:block;
	text-align:center;
	position:absolute;
	width:100%;
	top:50%;
	margin-top:-10px;
	font-size: 20px;
	color:#eee;}
section>div>p>strong {
	display:block;
	text-align:center;
	position:absolute;
	width:100%;
	top:50%;
	font-size: 50px;
	color:#fff;
	margin-top:-25px;}
/* 컨텐츠 동영상  설정 */
section>div>p>video {	width:100%;}

/* 컨텐츠 박스 */
section>div {
	position:absolute;
	width:100%;
	height:100%;
	z-index:1;
	opacity:0;
	perspective:700px;
	transition:all 1.5s; }
section>div.on {
	z-index:2;
	opacity:1;}
section>div>p {
	box-sizing:border-box;
	text-align:center;
	overflow:hidden;
	transform:rotateY(180deg);
	transition:all 1.5s;}

/* 마이페이지구조 */
.content1 {
	float: left;
	padding: 10px 2% 10px 2%;
	margin: 2% 1% 20px 2%;
	background: #666;
	border: 2px solid #ccc;
	width: 44%; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 41%;
	}
section .box1 .content1 {
	width: 42%; /* ie5win fudge ends */
	height: 70%;
	}

.content2 {
	float: right;
	padding: 10px 2% 10px 2%;
	margin: 2% 1% 20px 2%;
	background: #666;
	border: 2px solid #ccc;
	width: 44%; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 41%;
	}
section .box1 .content2 {
	width: 42%; /* ie5win fudge ends */
	height: 70%;
	}
	/*안에 나눠지는 상자 왼쪽*/
	.topL {
		float: right;
		margin: 1% 0% 2%;
		padding: 10px;
		border: 1px solid #ccc;
		background: #666;
		/*width: 150px; /* ie5win fudge begins */
		voice-family: "\"}\"";
		voice-family:inherit;
		width: 100%;
		}
	section .box1 .content1 .topL {
		width: 96%; /* ie5win fudge ends */
		height:10%;
		}
	.character {
		float: right;
		margin: 5px 0% 5%;
		padding: 10px;
		border: 1px solid #ccc;
		background: #666;
		width: 67%;
		height: 53%;
		}
	section .items>.item1 {
		float: left;
		margin: 5px 0% 2% 0%;
		padding: 20px;
		border: 1px solid #ccc;
		width: 15%;
		height: 50px;
	}
	section .items>.item2 {
		float: left;
		margin: 5px 0% 2% 0%;
		padding: 20px;
		border: 1px solid #ccc;
		width: 15%;
		height: 50px;
	}
	section .items>.item3 {
		float: left;
		margin: 5px 0% 2% 0%;
		padding: 20px;
		border: 1px solid #ccc;
		width: 15%;
		height: 50px;
	}
	.workers {
		float: right;
		/* Opera5.02 will show a space
		at right when there is no scroll bar */
		margin: -2% 0% 2%;
		padding: 10px;
		border: 1px solid #ccc;
		background: #666;
		width: 150px; /* ie5win fudge begins */
		voice-family: "\"}\"";
		voice-family:inherit;
		width: 95%;
		}
	section .box1 .content1 .workers {
		width: 95%; /* ie5win fudge ends */
		height: 18%;
		}
	section .workers> .worker1{
		float: left;
		padding: 20px;
		margin: 5px 0% 2% 3%;
		border: 1px solid #ccc;
		width: 20%;
		height: 50px;
	}
	section .workers> .worker2{
		float: left;
		margin: 5px 0% 2% 3%;
		padding: 20px;
		border: 1px solid #ccc;
		width: 20%;
		height: 50px;
	}
	section .workers> .worker3{
		float: left;
		margin: 5px 0% 2% 3%;
		padding: 20px;
		border: 1px solid #ccc;
		width: 20%;
		height: 50px;
	}


	/*안에 나눠지는 상자 오른쪽*/
	.topR {
		float: right;
		margin: 2% 0% 2%;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 20px;
		background: #666;
		/*width: 150px; /* ie5win fudge begins */
		voice-family: "\"}\"";
		voice-family:inherit;
		width: 100%;
		}
	section .box1 .content2 .topR {
		width: 95%; /* ie5win fudge ends */
		height:25%;
		}
	.middleR {
		float: right;
		margin: 15px 0% 5%;
		padding: 10px;
		border: 1px solid #ccc;
		background: #666;
		width: 95%;
		height: 25%;
		}
	.bottomR {
		float: right;
		/* Opera5.02 will show a space
		at right when there is no scroll bar */
		margin: 0px;
		padding: 10px;
		border: 1px solid #ccc;
		background: #666;
		width: 150px; /* ie5win fudge begins */
		voice-family: "\"}\"";
		voice-family:inherit;
		width: 95%;
		}
	section .box1 .content2 .bottomR {
		width: 95%; /* ie5win fudge ends */
		height: 25%;
		}

/*.box1>p {
	height:25%;
	float:left;
	text-align:center;
	position:relative;}
.box1>p:nth-child(1) {
	width:50%;
	background-color:#333;}
.box1>p:nth-child(2) {
	width:25%;
	background:#ccc;
	background:url(../img/.jpg) no-repeat right center;
	background-size:cover;}
.box1>p:nth-child(3) {
	width:25%;
	background:#444;	}
.box1>p:nth-child(3) ul { position:absolute; top:50%;}
.box1>p:nth-child(4) {
	width:50%;
	height:50%;
	background:url(../img/.jpg) no-repeat center top;
	background-size:cover;
	float:right}
.box1>p:nth-child(5) {
	width:25%;
	background:url(../img/.jpg) no-repeat left center;
	background-color:#fff;
	background-size:contain;
	float:right}
.box1>p:nth-child(6) { width:25%; background:#888; float:right;}
.box1>p:nth-child(7) { width:25%; background:#444; float:right;}
.box1>p:nth-child(8) {
	width:25%;
	background:url(../img/.jpg) no-repeat center center;
	background-size:cover;
	float:right;}
.box1>p:nth-child(9) { width:25%; background:#444;}
.box1>p:nth-child(10) {
	width:50%;
	background:url(../img/.jpg) no-repeat right center;
	background-size:cover;}
.box1>p:nth-child(11) { width:25%;	background:#222;}
*/




/* 컨텐츠 박스 */
/*section>div {	position:absolute;	width:100%;	height:100%;	z-index:1;	opacity:0;	perspective:700px;	transition:all 1.5s; }
section>div.on {	z-index:2;	opacity:1;}
section>div>p {	box-sizing:border-box;	text-align:center;	overflow:hidden;	transform:rotateY(180deg);	transition:all 1.5s;}*/
/* 컨텐츠 폰트 설정 */
/*section>div.on>p { transform:rotateY(0deg);}
section>div>p>span { display:block; text-align:center; position:absolute; width:100%; top:50%; margin-top:-10px; font-size: 20px; color:#eee;}
section>div>p>strong { display:block; text-align:center; position:absolute; width:100%; top:50%; font-size: 50px; color:#fff;margin-top:-25px;}
/* 컨텐츠 동영상  설정 */
/*section>div>p>video {	width:100%;}
/* 컨텐츠 웹 아이콘 설정 */
/*section>div>p>em>a>i  { font-size:30px!important; color:#eee;	margin:0px 15px;	position:relative; 	top:50%; 	margin-top:-15px; opacity:0.5; transition:all 0.5s;}
section>div>p>em>a>i:hover { transform:scale(1.2); opacity:1;}
/* box1 */
/*.box1>p {	height:25%;	float:left;	text-align:center;	position:relative;}
.box1>p:nth-child(1) { width:50%; background-color:#333;}
.box1>p:nth-child(2) { width:25%; background:#ccc; background:url(../img/m1.jpg) no-repeat right center; background-size:cover;}
.box1>p:nth-child(3) { width:25%; background:#444;	}
.box1>p:nth-child(3) ul { position:absolute; top:50%;}
.box1>p:nth-child(4) { width:50%;height:50%;background:url(../img/m2.jpg) no-repeat center top; background-size:cover; float:right}
.box1>p:nth-child(5) { width:25%;background:url(../img/m3.jpg) no-repeat left center; background-color:#fff; background-size:contain; float:right}
.box1>p:nth-child(6) { width:25%; background:#888; float:right;}
.box1>p:nth-child(7) { width:25%; background:#444; float:right;}
.box1>p:nth-child(8) { width:25%; background:url(../img/m4.jpg) no-repeat center center; background-size:cover; float:right;}
.box1>p:nth-child(9) { width:25%; background:#444;}
.box1>p:nth-child(10) { width:50%; background:url(../img/m5.jpg) no-repeat right center; background-size:cover;}
.box1>p:nth-child(11) { width:25%;	background:#222;}
/* box2 */
/*.box2>p {text-align:center; height:25%; float:left;}
.box2>p:nth-child(1) { width:25%; background:#444;}
.box2>p:nth-child(2) { width:25%; background:url(../img/w1.jpg) no-repeat center bottom; background-color:#fff; background-size:contain;}
.box2>p:nth-child(3) { width:50%; background:#222;}
.box2>p:nth-child(4) { width:25%; height:49.9%; background:url(../img/w2.jpg) no-repeat right top; background-color:#fff;	background-size:cover;}
.box2>p:nth-child(5) { width:50%; height:49.9%; background:#fff;	background:url(../img/w3.jpg) no-repeat center center;	background-size:cover;}
.box2>p:nth-child(6) { width:25%; background:url(../img/w4.jpg) no-repeat center center;	background-color:#fff;	background-size:contain;}
.box2>p:nth-child(7) { width:25%; background:#555;}
.box2>p:nth-child(8) { width:25%; background:#fff;	background:url(../img/w5.jpg) no-repeat center center; background-size:cover;}
.box2>p:nth-child(9) { width:25%; background:#555;}
.box2>p:nth-child(10) { width:25%;	background:url(../img/w6.jpg) no-repeat center top; background-size:cover;}
.box2>p:nth-child(11) { width:25%;	background:#fff;	background:url(../img/w7.jpg) no-repeat center center; background-size:cover;}
/* box3 */
/*.box3>p {	width:25%;height:25%; float:left;}
.box3>p:nth-child(1) { width:50%;height:100%; background:#fff; background:url(../img/k1.jpg) no-repeat center top; background-size:cover;}
.box3>p:nth-child(2) { background:#555;}
.box3>p:nth-child(3) { background:url(../img/k2.jpg) no-repeat center center; background-size:cover;}
.box3>p:nth-child(4) { width:50%; background:#222;}
.box3>p:nth-child(5) { height:50%; background:url(../img/k3.jpg) no-repeat center top; background-size:cover;}
.box3>p:nth-child(6) { background:#777;}
.box3>p:nth-child(7) { background:url(../img/k4.jpg) no-repeat center center;	background-size:cover;}*/
