@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Orbitron);

/*    Reset CSS  */
* { margin:0;  padding:0;}
ol,ul { list-style: none; }
body {
	width:100%;
	/*min-width: 1400px;*/
	height:100%;
	background:#111;
	font-family:Orbitron; }
a { outline:0;
	text-decoration:none;
	color:#bbb;}
img {border:0;}


/* 배경 설정*/
.wrap {
	position:fixed;
	width:100%;
	height:100%;
	min-width:1024px;
	min-height:768px;
	background:url(../img/) no-repeat center bottom; /*배경이미지*/
	background-size:cover;
	perspective:900px;}

/* 메뉴 호출 버튼 */
.btnMenu {
	position:fixed;
	top:50px;
	left:40px;
	display:inline-block;
	width:20px;
	height:70px;
	text-align:center;
	font-size:30px;
	color:#fff;
	z-index:3;
	animation:ani 0.7s infinite  alternate;}
@keyframes ani {
	0% {
		transform:scale(1);
		opacity:1;
		color:#fff;}
	100% {
		transform:scale(1.5);
		opacity:0.8;
		color:#888;}
}

/*상단 메뉴바 이미지나 색*/
h1 {
	background-color: #777;
	font-size: 40px;
	height: 90px;
}

/* 메뉴바 로고*/
h1 img {
	margin-left: 0px;
	width: 136px;
	height: 50px;
}

/*Community*/
#Comm {
	position:absolute;
	top:10px;
	right:57px;}
#Comm:after {
	content: "";
	display: block;
	clear: both;
}
#Comm li {
	float: left;
	width: auto;
}
#Comm a {
  display:block;
  padding:8px 30px;
  font-size:13px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  line-height:1.8;
  transition:all .5s;}
#Comm a i {
	font-size: 25px;
	margin-right:13px;
	color: #fff;
}

/*user정보*/
#GameMenu {
	position:absolute;
	top:50px;
	right:57px;}
#GameMenu:after {
	content: "";
	display: block;
	clear: both;
}
#GameMenu li {
	float: left;
	width: auto;
}
#GameMenu a {
  display:block;
  padding:8px 30px;
  font-size:13px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  line-height:1.8;
  transition:all .5s;}
#GameMenu a i {
	font-size: 25px;
	margin-right:13px;
	color: #fff;
}

/* 게임메뉴 전체 묶음 */
nav {
	position:fixed;
	width:150px;
	height:100%;
	background:#eee;
	z-index:2;
	transform:rotateY(120deg);
	transform-origin:left center;
	opacity:0;
	z-index:2;
	transition:all 0.8s;}
nav.on {
	transform:rotateY(15deg);
	opacity:1;}

/* 게임 메뉴 */
nav ul {
	position:absolute;
	top:20%;
	left:0px;
	width:100%;}
nav li a {
	display:block;
	width:100%;
	box-sizing:border-box;
	font-size:18px;
	line-height:4;
	color:#000;
	text-align:center;
	transition:all 0.5s;}
nav li a:hover {
	color:#fff;
	background:#000;}


/* 아래 배경화면 로고 */
#bglogo {
	position:fixed;
	width:300px;
	top:240px;
	left:0px;
	text-align:center;
	line-height:0.8;}
#bglogo strong {
	font:bold 16px/1.1 verdana;
	color:#000;}
#bglogo img {
	width:200px;
	height:auto;}
#bglogo span {
	font:bold 12px/1.6 arial;
	color:#000;
	letter-spacing:5px;}


/* 게임 나오는 화면 */
section {
	position:fixed;
	width:100%;
	height:100%;
	background:#555;
	z-index:1;
	transform-origin:right center;
	transition: all 0.5s; 
	overflow-y: scroll;
	}
	
section.on { transform:rotateY(-5deg);}

/* section 영역 레이아웃 */
/*section {position:fixed; top:0px; right:0px;width:100%; height:100%;}*/
article {
	position:relative;
	width:12%;
	height:100%;
	background:url(../img/divider.png) no-repeat left center;
	float:right;
	overflow:hidden;}

/* article 제목 */
article h2 {
	position:absolute;
	top:300px;
	left:20px;
	padding-left:15px;
	border-left:3px solid #555;
	font:bold 20px Raleway;
	color:#666;
	z-index:3;
	transition:all 0.5s;}
article div {
	position:absolute;
	left:0px;
	top:300px;
	width:100%;
	height:0px;
	background:#000;
	opacity:0.5;
	z-index:2;
	transition:all 0.5s;}

/* article 제목 호버 효과 */
article:hover h2 {
	color:#ccc;
	border-left:3px solid #ccc;}
article:hover div {
	top:270px;
	height:70px;}

/* article 동영상 */
article video {
	position:absolute;width:auto;
	height:100%;
	margin-top:0px;
	margin-left:-100px;
	opacity:0;
	z-index:1;}

/* article 숨겨진 컨텐츠 */
article h3 {
	position:absolute;
	bottom:210px;
	right:-310px;
	font: 40px Raleway;
	color:#fff;
	text-align:right;
	opacity:1;
	z-index:4;	}
article p {
	position:absolute;
	bottom:50px;
	right:-310px;
	width:300px;
	height:150px;
	font:12px/1.5 arial;
	color:#fff;
	text-align:right;
	opacity:0.8;
	z-index:5;}
