@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Orbitron);

/* Reset CSS */
* {
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
}
body {
	width: 100%;
	min-width: 1400px;
	height: 4000px;
	background: #111;
	font-family: Orbitron;
}
a {
	outline: 0;
	text-decoration: none;
	color: #bbb;
}
img {
	border: 0;
}

section {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	background: #555;
	z-index: 1;
	transform-origin: right center;
	transition: all 0.5s;
	overflow-y: scroll;
}

/*게임 메뉴 클릭 시 게임 화면 움직이게*/
section.on {
	transform: rotateY(-10deg);
}

/*레이아웃 >> 섹션 레이아웃은 위에 게임이랑 똑같이가기*/
/*section {
		position:fixed;
		top:50%;
		left:0px;
		margin-top:-250px;
		width:4600px;
		height:500px; } */

article { /* 생산활동 클릭시 뜨는 article들의 스타일 */
	position: relative;
	top: 40%;
	width: 550px;
	height: 400px;
	margin: 50px;
	margin-top: -200px;
	box-sizing: border-box;
	float: left;
	background: #fff;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #bbb;
	overflow: hidden;
	transition: all 0.7s;
}

/*메뉴 제목*/
article h2 {
	position: absolute;
	top: 300px;
	right: 0px;
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	padding-left: 20px;
	background: #111;
	opacity: 0.4;
	z-index: 2;
	cursor: pointer;
	transition: all 0.5s;
}

article:hover h2 {
	opacity: 0.8;
}

article h2 a {
	font-size: 14px;
	font-weight: bold;
	line-height: 3.5;
	color: #fff;
	letter-spacing: 2px;
	transition: all 0.5s;
}
/*메뉴 썸네일*/
article strong {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 300px;
	opacity: 0.4;
	overflow: hidden;
	text-align: center;
	transition: all 0.5s;
}

article:hover strong {
	opacity: 1;
}

article strong img {
	height: 300px;
	width: auto;
}

/*메뉴 이미지*/
article p {
	position: absolute;
	top: 50%;
	right: 0%;
	z-index: 1;
	margin-top: 0px;
	width: 100%;
	height: 0px;
	text-align: center;
	overflow: hidden;
	background-color: #fff;
	opacity: 0;
	transition: all 0.8s;
}
article p img {
	width: auto;
	height: 100%;
}
/*메뉴 상세 내용 -> 현재 단계,다음 단계 */
article em {
	position: absolute;
	bottom: 50px;
	right: -700px; /*메뉴 상세내용 em 내부가 보이지 않도록 위치 조정*/
	z-index: 2;
	display: inline-block;
	box-sizing: border-box;
	padding: 10px 20px;
	background: #000;
	color: #fff;
	opacity: 0.8;
	transition: all 1s;
}
/*닫기(X)버튼*/
section span {
	position: absolute;
	top: 110px;
	right: -300px;
	z-index: 3;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}
section span: hover {
	font:bold; 
}
/*클릭하면 나타나는 em 태그 검정박스의 크기 및 위치*/
article.on {
	width: 1000px;
	height: 1000px;	
	margin-top: -250px;
}
/* 제목부분 (공장,신입사원 채용,투기) */
article.on h2 { 	
	top: 0px;		
	height: 100px;
	background: #111;
	opacity: 1.0;
}
article.on h2 a {
	font-size: 30px;
	color: #fff;
}
article.on strong {
	opacity: 0;
}
article.on p {
	height: 500px;
	margin-top: -250px;
	opacity: 1;
}
article.on em {
	top: 150px;
	right: 50px;
}
article.on span {
	top:10px;
	right: 20px;
}

/* prod_table(생산활동 내부 표) 스타일 */
.prod_table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 15px;
	margin: 45px;
	width: 480px;
	text-align: center;
	border-collapse: collapse;
}
.prod_table th {
	font-size: 16px;
	font-weight: bold;
	padding: 12px 15px;
	color: #eff2ff;
}
.prod_table td {
	padding: 10px 15px;
	color: #669;
	border-top: 2px solid #e8edff;
}
.oce-first {
	background: #d0dafd;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
.prod_table tr:hover td {
	color: #339;
	background: #eff2ff;
	font-weight: bold;
}